body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

form {
    .MuiSelect-icon {
        color: rgb(204, 9, 65);
    }
    .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
        border-color: rgb(204, 9, 65);
        border-width: 2px;
    }
}

.status {
    position: relative;
    &:after {
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        background: #ddd;
        left: -20px;
        top: 3px;
        border-radius: 50%;
    }
    &.status-avaliable {
        &:after {
            background: green;
        }
    }
}

.MuiFormControl-root {
    .materialDD__control {
        background: #F3F3F3;
        font-size: 15px;
        border-radius: 0;
        border: 0;
        border-bottom: 2px solid rgb(204, 9, 65);
        padding: 5px;
        &:hover {
            box-shadow: 0 0;
            border-bottom: 2px solid rgb(204, 9, 65);
        }
        .materialDD__multi-value__label {
            font-size: 16px;
        }
        .materialDD__multi-value__remove {
            &:hover {
                background: rgb(204, 9, 65);
                svg {
                    fill:#fff;
                }
            }
        }
    }
    .materialDD__menu {
        border-radius: 0;
    }
}